<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxq.api.dao.AttributeDao">

    <!--查询总条数-->
    <select id="queryAttribute" resultType="java.lang.Long">

        select count(*) from shop_attribute where 1=1

        <if test=" name !=null and name !='' ">

            and name=#{name}

        </if>

            and isDel=0

    </select>

    <!--查询分页后的数据-->
    <select id="queryAttributeLimit" resultType="com.lxq.api.entity.vo.AttributeValue">

        select
        t.`name`as typeName,
        att.`name`,att.nameCH,att.type,att.isSKU,att.id
        from shop_attribute att LEFT JOIN shop_type t on att.typeId=t.id

        where 1=1

        <if test=" name !=null and name !='' ">

            and att.name=#{name}

        </if>

            and att.isDel=0

        limit #{startIndex},#{size}
    </select>
</mapper>